<!--<div class="card-container">
  <mat-card *ngFor="let student of students" class="student-card">
    <mat-card-header>
      <mat-card-title>Matrícula: {{ student.matricula }}</mat-card-title>
      <mat-card-subtitle>{{ student.nombre }} {{ student.apellidoP }} {{ student.apellidoM }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Email:</strong> {{ student.email }}</p>
      <p><strong>Licenciatura:</strong> {{ student.licenciatura }}</p>
    </mat-card-content>
  </mat-card>
</div>-->